
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>這裡是卡片裡面</h>
   
    <section>
      <%= @wish_list.title %>
     </section>
   <section>
    <%= simple_format(@wish_list.description) %>
   </section>
   
    
</body>
</html>
