<% if flash.any? %>
    <div style="color: white ; background-color:blue">
      <%= notice %>
    </div>
    <div style="color: white ; background-color: red">
     <%= alert %>
    </div>
  <% end %>